$text-first-color: #000;
$text-second-color: #ffffff;
$text-third-color: #999999;
$text-fourth-color: #fce38a;
$text-fifth-color: #f38181;

$design-first-color: #fff;
$design-second-color: #f38181;
$design-third-color: #fce38a;
$design-fourth-color: #eaffd0;
$design-fifth-color: #95e1d3;
$design-sixth-color: #999999;

